<div #parent class="d-flex flex-column h-100">
  <div class="flex-fill overflow-hidden">
    <ng-content select="[top]"></ng-content>
  </div>
  <div #dragBar class="green justify-content-center text-center center-line" [class.cursor-ns-resize]="showBottom"
    (mousedown)="onDragBarMouseDown($event)">
    <button (click)="hideBottomPanel()" *ngIf="showBottom">down</button>
    <button (click)="showBottomPanel()" *ngIf="!showBottom">up</button>
  </div>
  <div class="red overflow-hidden" *ngIf="showBottom" [style.height.px]="panelHeight">
    <ng-content select="[bottom]"></ng-content>
  </div>
</div>
